
/* ========================================================================================================
   1. FUENTES Y VARIABLES GLOBALES
   ======================================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Urbanist:wght@400;500;700&display=swap');

:root {
  --bg-dark: #020617;
  --card-bg: #0f172a;
  --accent: #3b82f6;
  --text-main: #f8fafc;
  --text-dim: #94a3b8;
  --border: #1e293b;
  --success: #10b981;
}
/* ==========================================================================================================
   2. ESTILOS BASE Y CONTENEDORES PRINCIPALES
   ========================================================================================================== */
/*body {  
  flex: 1;
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: 'Urbanist', sans-serif;
  
  min-height: 100vh;
  padding:0;  
}*/
html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background-color: var(--bg-dark);
  color: var(--text-main);
  font-family: 'Urbanist', sans-serif;
  flex: 1;  
}
body{
  overflow-x: hidden;
}


.app-container { 
  flex: 1;
  padding: 2rem;
  max-width: 1400px; 
  margin: 0 auto;  
}

/* ==========================================================================================================
   3. CABECERA (HEADER)
   ========================================================================================================== */

/* Header Styles */
header {
  text-align: center;
  margin-bottom: 1rem;  
}
.logo{
  width: 300px;
  border-radius: 2rem;  
}
.project-tag {
  color: var(--accent);
  letter-spacing: 5px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;  
}

header h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin: 0;
  line-height: 1.1;  
}

header h1 span {
  color: var(--accent);
  font-size: 3rem;  
}

.subtitle {
  color: var(--text-dim);
  /*color: var(--accent);*/
  font-size: 1.2rem;
  max-width: 700px;
  margin: 1.5rem auto 0;
  line-height: 1.6;  
}
/* ==========================================================================================================
   4. PARTIDOS DE HOY
   ========================================================================================================== */

.today-section {
  margin-bottom: 3rem;
 
/*
  margin-bottom: 30px;
  background: linear-gradient(135deg, #0b192c 0%, #1a365d 100%);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);*/
}

.section-title {
  color: #fff;
  text-align: center;  
  padding-bottom: 10px;
 
}
.today-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 0.5rem;
  
}
.today-card {  
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 0.5rem;

  /*
  background: white;
  border-radius: 8px;
  padding: 10px;
  margin: 10px auto;
  max-width: 600px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);*/
}
.match-status{
  color: #f7f5f4; 
  background-color: #06b30e;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.match-header-info {
  display: flex;
  justify-content: space-between; /* Envía el grupo a la izq y la fecha a la der */
  align-items: center;
  width: 100%;
  margin-bottom: 0.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border);
  
}
.match-group-badge {
  color: #cf6610; /* Color ámbar/naranja llamativo */
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 1px;
  
}
.team-today{
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  font-weight: 700;
  font-size: 0.9rem; 
   
}
.team-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  flex-wrap:wrap; /* ESTA ES LA CLAVE: Permite que los elementos bajen de línea si no caben */
  gap: 10px;
  
}
.match-date {
  color: var(--text-dim);
  font-size: 0.85rem;
}
.status-message.error {
  color: #ef4444;
  border-color: #ef4444;
}
/* Status Messages */
.status-message {
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 12px;
  
}

/* ==========================================================================================================
   5. FASE DE GRUPOS 
   ========================================================================================================== */
.groups-section{
  margin-bottom: 2rem;

}

/* --- ESTILOS PARA LOS RESULTADOS READ-ONLY (Sin inputs) --- */
.score-box.read-only {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d3748;
  
}
.score-box.read-only .separator {
  color: #718096;
  font-size: 1.2rem;
}
.team-name {
  font-weight: 600;
  
  /* 1. Cambiamos 'nowrap' por 'normal' para permitir el salto de línea */
  white-space: normal; 
  
  /* 2. Ajustamos el espacio entre las líneas para que no se vea tan separado */
  line-height: 1.2; 
  
  /* 3. Centramos el texto (muy útil si el nombre queda en dos renglones) */
  text-align: center; 
  
  /* 4. (Opcional) Le damos un ancho máximo para forzar el salto en pantallas pequeñas */
  max-width: 90px; 
  
  /* 5. Asegura que palabras muy largas no rompan la caja */
  word-wrap: break-word; 
  font-size: 0.9rem;
}
.score-box input:focus {
  outline: none;
  border-color: var(--accent);
   
}

.score-box input:disabled {
  color: var(--success);
  border-color: transparent;
  background: transparent;
  
}

/* ==========================================================================================================
   6. FINALES 
   ========================================================================================================== */

/* Por defecto (Pantallas de PC grandes) */
.bracket-view {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto; /* Permite scroll horizontal en PC si la pantalla es pequeña */
  gap: 20px;
  padding: 10px;
  /* Esto asegura que la última tarjeta no se corte en monitores anchos */
  min-width: min-content; 
  
}

.phase-column {
  min-width: 250px;
  display: flex;
  flex: 1; /* Permite que las columnas se expandan de manera uniforme */
  flex-direction: column;
  gap: 1rem;
  
}

.phase-title {
  text-align: center;
  color: var(--text-dim);
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
   
}

.knockout-card {
  background: var(--card-bg);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 1rem;
  transition: transform 0.2s, border-color 0.2s;
  
}

.knockout-card:hover {
  transform: translateY(-3px);
  border-color: var(--accent);
  
}



.team-row:first-child {
  border-bottom: 1px solid var(--border);
  
}

/* ==========================================================================================================
   5. RESPONSIVIDAD (DISEÑO MÓVIL)
   ========================================================================================================== */

/* Diseño Móvil (Vertical) */
@media (max-width: 768px) {
  .bracket-view {
    flex-direction: column; /* Pone las llaves una debajo de la otra */
    overflow-x: hidden; /* Elimina la barra de desplazamiento horizontal */
  }
  
  .phase-column {
    min-width: 100%; /* Toma todo el ancho de la pantalla del celular */
    margin-bottom: 20px; /* Espacio entre fases */
  }
}
/* Ajustes específicos para pantallas pequeñas (celulares) */
@media (max-width: 600px) {
  
.team-today{
  
  font-weight: 700;
  font-size: 0.9rem;  
}

  /* Si tienes un contenedor para las banderas y los nombres */
  .team-info {
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .team-name{
    font-size: 0.7rem;
   }
}
@media (max-width: 320px) {
  .today-section {
    display: flex;
    flex-direction: column;   
}
 .team-name{
  font-size: 0.7rem;
 }
  .today-card {  
    background: var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 0.5rem;
  }

}
